/*FF8B00*/
/*Proqramlar*/
*{

    padding:0;
    margin:0;
    box-sizing: border-box;
  
}
body{
    background-color:#222;
    font-family: 'Open Sans', sans-serif;
  
}
div.nav{
    height:4.5rem;
    width:100%;
    background-color:#333 !important;
     display:flex;
    justify-content:flex-end;
    align-items:center;
    box-shadow:3px 3px 6px #FF8B00;

   
}
 div.a, div.b, div.c, div.d{
    color:white;
    margin-right:60px;
    font-size:17px;
    letter-spacing:0.7px;
   
    
}
div.a:hover, div.b:hover, div.c:hover, div.d:hover{
    color:red;
    margin-right:60px;
   
    
}
div h1{
    color:#FF8B00;
    text-align:center;
    margin-top:6rem;
    font-size:2.5rem;
    letter-spacing:2px;
    
}
section p{
    padding:2rem;
    color:white;
    line-height:2;
    font-family: 'Raleway', sans-serif;
    font-size:1.2rem;
    margin-left:2rem;
    margin-right:2rem;
    letter-spacing:1px;
 
}
section h2.biro {
    font-family: 'Raleway', sans-serif;
    letter-spacing:1px;
    color:rgb(235, 36, 36);
    text-align:center;
    margin-top:30px;
    font-size:1.8rem;
}
section ol {
    font-family: 'Raleway', sans-serif;
    letter-spacing:1px;
    color:white;
    margin-left:60px;
    margin-right:60px;
    font-size:1.2rem;
    letter-spacing:1px;
    margin-top:30px;

    
  
}
section ol li.or{
    line-height:2;
    font-size:1.5rem;
    

    
  
}
section ol span{
    line-height:0.8;
    font-size:1.2rem;
    

    
  
}
ol {
    list-style: none; counter-reset: li
}
li.or::before {
    content: counter(li); color: #FF8B00;
    display: inline-block; width: 1em;
    margin-left: 0em;
   
}
li.or {counter-increment: li
}
span.dot{
    font-size:50px;
    position:relative;
    left:-12px;
}
#mesq {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left:60px;
  }
  
  #mesq td, #mesq th {
     /* border: 1px solid #ddd;  */
    padding: 8px;
    padding-left:80px;
  }
  
   #mesq tr:nth-child(even){background-color: #d6d1cb;} 
   #mesq tr:nth-child(odd){background-color: #f0eae2;} 
  
  
   #mesq tr:hover {background-color: rgb(177, 174, 174);}
  
  
  #mesq th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #df3105;
    color: white;
  }
  section ul {
    font-family: 'Raleway', sans-serif;
    letter-spacing:1px;
    color:white;
    margin-left:70px;
    margin-right:60px;
    font-size:1.2rem;
    letter-spacing:1px;
    margin-top:30px;
    line-height:2;

    
  
}
ul{
    padding-left:15px;
}
ul li{
    padding-left:4px;

}
section h2.iki {
    font-family: 'Raleway', sans-serif;
    letter-spacing:1px;
    color:#FF8B00;
    text-align:left;
    margin-top:40px;
    margin-left:60px;
    font-size:1.3rem;
    font-weight:900;
}

ul li{
    color:#FF8B00;
}
ul span{
    color:white;
}
.div p{
    margin-top:1rem;
}
span.uc{
    color:#FF8B00;
}
table.kalis th{
    text-align:center !important;
   
}
#bod{
    
    padding-left:0 !important;
}
table.kalis td{
    padding-left:50px !important;
}
table.kalis th{
    text-align:center !important;
    background-color:#d87802 !important;
   
}
#jim{
    position:relative;
    margin-right:90px;
    margin-left:20px;
    width:600px;
    float:right;
    margin-bottom:200px;
}
#hcali{
    margin-bottom:10px !important;
}

#gorun{
    display:none;
}








